   
     .container {
      display: flex;
      gap: 20px;
      
    }

    .left-box {
      flex: 2;                                         /* Chiếm gấp đôi chiều rộng so với right-column. */
      color: rgb(14, 14, 14);
      border-radius: 10px;
      font-size: 20px;
      max-height: 600px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      background:#fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      padding-top: 10px;
      padding-left: 50px ;
      margin-left: 80px;
    }
h1 {
  font-size: 30px;
  color:#d87b6c;  
}
   h2 {
      color: #4c4949;
      margin-bottom: 10px;
      font-size: 20px;
    }

    .right-column {
      flex: 1;                                         /* Chiếm 1 phần chiều rộng so với left-box. */
      display: flex;
      flex-direction: column;                          /* Xếp các .right-box xuống dưới nhau.  */
      gap: 20px;
    }

    .right-box {
      background:rgb(159,168,218);
      width: 320px;
      height: 80px;
      padding: 25px;
      text-align: center;
      border-radius: 10px;
      font-size: 16px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.15);
      
    }
.right-box a {
  color: #f4f5f6;
}
.right-box a:hover {
  color: #054381;
}
