
    * {
      box-sizing: border-box; /*Tổng kích thước phần tử luôn đúng khai báo.*/
    }

/* Thanh điều hướng dọc bên trái  */

  .side-nav {
    margin-top: 20px;
    height: 585px;
    margin-left: 30px;
    width: 20%;
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
  }

  .side-nav a {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.2s;
  }

  .side-nav a:hover {
    background: #ddd;
  }
  .side-nav::-webkit-scrollbar {
  width: 6px;              /* độ rộng thanh cuộn */
}
.side-nav::-webkit-scrollbar-thumb {
  background-color: #cdcbcb;  /* màu của thanh cuộn */
  border-radius: 16px;
}
/* Điều chỉnh lề trang chính để không bị đè */
.section {
  margin-left: 380px;
  margin-top: 20px;
  width: 70%;
  height: 585px;
  padding: 15px;
  display: none; /* Ẩn flashcard */
  background: #fff;
  border-radius: 16px;
}

    .active {
      display: block; /*hiện bảng*/
    }


 h2 {
   color:  rgb(243,144,126);
 }
    /* Bảng từ vựng */
    .content-block {
  max-height: 400px; /* Chiều cao tối đa vùng chứa bảng */
  overflow-y: auto;  /* Bật thanh cuộn dọc */
  border-radius: 12px;
  background: rgb(255,251,245);
}

/* Bảng */
table {
  width: 100%;
}

/* Cố định tiêu đề */
thead th {
  position: sticky;
  top: 0;
  /*dùng để làm phần tử "dính" tại một vị trí cố định (thường là top hoặc bottom)*/
  z-index: 10; /* Đảm bảo nằm trên nội dung khi cuộn */
  background: linear-gradient(135deg,rgb(90, 131, 91) 0%, rgb(111,155,112), rgb(144, 194, 144) 100%);
  color: white;
  padding: 14px 20px; 
  text-shadow: 0.5px 0.5px 1px rgba(23, 1, 1, 0.916); /* Chữ nổi rõ hơn */
}


/* Các ô dữ liệu */
th, td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}

/* Hover dòng */
tbody tr:hover {
  background-color:rgb(216, 233, 216);
  cursor: default;            /* Con trỏ chuột khi hover là kiểu mặc định (mũi tên thường) */
}


/* Nút bấm chuyển đổi bảng và flashcard*/
button {
  border: none;
  border-radius: 8px;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 600; /* Độ đậm chữ hơi đậm */
  cursor: pointer; /* Khi hover hiện con trỏ tay (pointer) */
  box-shadow: 0 4px 12px  rgb(243,144,126);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 0 auto 30px auto;
  display: block;
  width: fit-content;
  display: inline-block;
  background: transparent;  
  color: rgb(246, 166, 152)
}

button:hover {
  background-color:  rgb(249, 249, 249);
  box-shadow: 0 8px 20px  rgb(246, 166, 152);
}
/* Trang flashcard */

.content-block {
  width: 100%;
  height:100%;
  perspective: 1200px;
  background-color:  rgb(249, 249, 249);
  
}
.flashcard-wrapper { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-top: 50px;
}

.card-container { 
  width: 520px; 
  height: 280px; 
  perspective: 1000px; 
  position: relative; 
  cursor: pointer; 
}
.card-inner { 
  width: 100%; 
  height: 100%; 
  position: relative; 
  transform-style: preserve-3d; 
  transition: transform 0.7s; }
.card-inner.flipped { transform: rotateY(180deg); 
}
.card { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  border-radius: 20px; 
  background: linear-gradient(135deg, #fabf8c 0%, rgb(243,144,126) 100%); 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 45px; 
  color: #fff; 
  backface-visibility: hidden; 
}
.card.back { transform: rotateY(180deg); }

/* nút loa*/
.speaker-btn { 
      position: absolute; 
      top: 20px; right: 50px; 
      z-index: 2; 
      padding: 8px; 
      border-radius: 50%; 
      background: rgba(255,255,255,0.8); 
      box-shadow: 0 2px 6px rgba(0,0,0,0.2); 
}

/* nút chuyển flashcard */
.nav-button {
  background: transparent;
  color: rgb(111,155,112);
  padding: 10px 16px;
 
  border-radius: 100px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgb(101, 101, 101);
}

.nav-button:hover {
  background-color:  rgb(249, 249, 249);
  box-shadow: 0 8px 20px rgb(147, 148, 147);
  color:rgb(103, 104, 103);
}

.nav-button.left {
  margin-right: 30px;
}

.nav-button.right {
  margin-left: 30px;
}


 
